<nb-layout>

  <nb-layout-header fixed>
    <nb-layout-column>
        <h3>First Test with Echarts</h3>
        <p>Software Engineering QPlix Project 2019/20 - Team02</p>
    </nb-layout-column>
  </nb-layout-header>

  <nb-layout-column>
    <div echarts [options]="chartOption" [merge]="mergeOption" class="demo-chart" (chartClick)="onChartClick($event)"></div>
    <button nbButton status="basic" size="medium" (click)="addDataPoint()" class="add-btn">Add Datapoint</button>
    
    <nb-card size="tiny" class="my-card">
        <nb-card-header>{{ clickedValue.x ? "You last clicked on:": "Click a data point to see details" }}</nb-card-header>
        <nb-card-body>
          X: {{ clickedValue.x ? clickedValue.x + "," : "" }}
          <br>
          Y: {{ clickedValue.y ? clickedValue.y : "" }}
        </nb-card-body>
      </nb-card>
  </nb-layout-column>

  <nb-layout-footer fixed>
    <span class="subtitle-2">This is an angular app, being served from a Java Spring Boot MVC server, hosted on Heroku.</span>
  </nb-layout-footer>

</nb-layout>
